body {
  .decals {
    width: 100%;
    height: 361px;
    position: absolute;
    top: 48px;
    z-index: -1;
  }
  &.billboards, &.request-form {
    background: #694952;
    position: relative;
    .decals {
      background: url('../images/decals-red.png') center center;
    }
  }
  &.contacts {
    background: #e1f0f5;
    .decals {
      background: url('../images/decals-red.png') center center;
    }
  }
  &.index {
    .decals {
      background: url('../images/decals-map.jpg') center top no-repeat;
    }
  }
  &.billboards_design {
    background: #67c08a;
    .decals {
      background: url('../images/decals-white2.png') center center no-repeat;
    }
  }
  &.web {
    background: #fb5f54;
    .decals {
      background: url('../images/decals-white.png') center center no-repeat;
    }
  }
  &.imarketing {
    background: #3c4346;
    .decals {
      background: url('../images/decals-white2.png') center center no-repeat;
    }
  }
  &.common {
    background: #d3dece;
    .decals {
      background: url('../images/decals-white.png') center center no-repeat;
    }
  }
  &.forbidden {
    background: #694952;
  }
}