// bower:scss
@import "../../bower_components/normalize-scss/_normalize.scss";
// endbower

@import 'fonts';
@import 'backgrounds';

header {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
  padding: 0 50px;
  box-sizing: border-box;
  position: relative;
  .logo {
    left: 50px;
    position: absolute;
  }
  .btn.send {
    position: absolute;
    right: 50px;
    font-family: "Circe-Bold";
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: white;
    border: 1px solid #99c45a;
    padding: 0 36px;
    padding-bottom: 18px;
    padding-top: 22px;
    border-radius: 2px;
    text-decoration: none;
    &:hover {
      opacity: 0.8;
    }
  }
  .wrapper {
    position: relative;
    width: 100%;
    text-align: center;
    h1 {
      text-transform: uppercase;
      font-family: "Circe-ExtraBold";
      color: white;
      font-size: 56px;
      line-height: 69px;
      font-weight: normal;
    }
  }
}

body {
  font-family: "Circe-Regular";
}

.teaser {
  text-align: center;
  width: 660px;
  color: white;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
}

.tabs-btn {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
  a {
    text-decoration: none;
    color: white;
    margin: 0 9px;
    opacity: 0.8;
    &:hover {
      opacity: 0.5;
    }
    &.active {
      opacity: 1;
    }
  }
  .list-view {
    background: url('../images/ico-list.png') no-repeat left;
    padding-left: 16+9px;
  }
  .map-view {
    background: url('../images/ico-map_mark.png') no-repeat left;
    padding-left: 22px;
  }
}

.tabs {
  padding: 0 50px;
  box-sizing: border-box;
  .tab {
    border: 1px solid #cf4e45;
    &#billboard-map {
      width: 100%;
      height: 720px;
    }
  }
}

.billboard-mark {
  .mark {
    width: 53px;
    height: 65px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
    &.yellow {
      background: url('../images/ico-marker_yellow.png');
    }
  }
  .address {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Circe-Bold';
    color: #694952;
    font-size: 18px;
  }
  .info {
    display: block;
    font-size: 18px;
    font-family: 'Circe-Regular';
    color: #694952;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    strong {
      font-family: 'Circe-Bold';
    }
  }
  a {
    font-size: 18px;
    text-decoration: none;
    color: #694952;
  }
  .photo {
    border-bottom: 1px solid #694952;
  }
  .order {
    display: inline-block;
    border: 1px solid #83c07e;
    border-radius: 2px;
    padding-left: 18px;
    padding-right: 58px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 18px;
    background: url("../images/ico-plus.png") no-repeat 86% center;
  }
}