extends layout

block vars
 - var bodyClass = "forbidden";
  
block title

block header
  header
    include includes/menu.jade

block content
  .content-wrapper
    .support
    img(src="../images/forbidden.png")