extends layout

block vars
 - var bodyClass = "billboards_design";

block btn
  a.btn.send(href="request-form.html") Заказать изготовление
  
block title
  img.ico(src="/images/ico-billboards_design.png")
  h1 Изготовление <br>наружной рекламы

block header
  include includes/header.jade

block content
  .decals
  .teaser.
    Наше оборудование позволяет нам изготовить любые виды наружной рекламы от
    постера и вывески до рекламного щита. Четкое знание и следование
    технологиям изготовления определенного типа наружной рекламы позволяет
    получать на выходе качественный продукт, готовый к размещению.
  .content-wrapper
    h2 Вывески
    .text
      p.
        Вывеска — старейший вид наружной рекламы. Благодаря развитию технологий
        производства вывески теперь можно делать ярче, менять цвет и форму,
        материал, из которого они изготовлены, а также место размещения.
    .photos
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      .clrfx
    h2 Рекламные щиты
    .text
      p.
        Один из самых распространенных видов наружной рекламы. В крупных городах
        большая площадь и высота рекламных щитов позволяет увеличить
        вероятность того, что рекламное сообщение будет увидено потребителем.
        Мы поможем вам использовать это преимущество.
    .photos
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      .clrfx