extends layout

block vars
 - var bodyClass = "common";
  
block title
  h1 Поисковая оптимизация

block header
  include includes/header.jade

block content
  .decals
  .content-wrapper
    h2 О нашем методе
    ul
      li Мы занимаемся маркетингом и выходим на новый современный уровень. 
      li Мы занимаемся маркетингом и выходим на новый современный уровень. 
      li Мы занимаемся маркетингом и выходим на новый современный уровень. 
    p.
      Сайт — один из ключевых каналов общения с потребителем. Важно при его
      создании учесть потребности целевой аудитории и специфику вашего
      бизнеса. Технические составляющие должны быть идеально отлажены.
    h2 Как мы работаем с поисковой оптимизацией
    p.
      Любой проект мы начинаем с анализа и планирования. На этом этапе мы
      оцениваем поисковый спрос и составляем медиаплан, изучаем ваш бизнес и
      продукт, рекламные стратегии конкурентов, даем рекомендации по улучшению
      вашего сайта под поисковый трафик.
    blockquote.
      Любой проект мы начинаем с анализа и планирования. На этом этапе мы
      оцениваем поисковый спрос и составляем медиаплан, изучаем ваш бизнес и
      продукт, рекламные стратегии конкурентов, даем рекомендации по улучшению
      вашего сайта под поисковый трафик.
    p.
      Любой проект мы начинаем с анализа и планирования. На этом этапе мы
      оцениваем поисковый спрос и составляем медиаплан, изучаем ваш бизнес и
      продукт, рекламные стратегии конкурентов, даем рекомендации по улучшению
      вашего сайта под поисковый трафик.