extends layout

block vars
 - var bodyClass = "index";

block header
  include includes/header_middle.jade

block content
  .decals
  .teaser.
    Рекламное агентство «Трибуна» владеет собственной сетью рекламных
    конструкций 6х3 в Ростове-на-Дону и специализируется на наружной рекламе.
    <br>
    <small>С нашей адресной программой Вы можете ознакомиться <a href="billboards.html">здесь</a>.</small>
  
  .activities
    section.billboards
      .holder
        .title Размещение на щитах
        .description.
          Рекламное агентство «Трибуна» владеет собственной сетью рекламных конструкций.
      a.more(href="billboards.html") Смотреть работы
    section.advert
      .holder
        .title Изготовление наружной рекламы
        .description.
          Наше оборудование позволяет изготовить любые виды рекламы от вывески до щита.
      a.more(href="") Читать далее
    section.imarketing
      .holder
        .title Интернет-маркетинг
        .description.
          Мы занимаемся маркетингом и выходим на новый современный уровень.
      a.more(href="") Читать далее
    section.web-sites
      .holder
        .title Разработка веб-сайтов
        .description.
          Мы занимаемся проектированием, разработкой и сопровождением веб-сайтов и мобильных приложений.
      a.more(href="") Смотреть работы
    .clrfx
  .content
    .top
    .mid
      .header-small Коротко о нас
      h1 Мы делаем лучшую наружную рекламу<br> в Ростове-на-Дону
      .info
        p.
          Рекламное агентство «Трибуна» владеет собственной сетью рекламных
          конструкций 6х3 в г.Ростове-на-Дону и специализируется на наружной
          рекламе. Сеть конструкций охватывает полностью всю черту
          города, специально обученные маркетологи отбирали наиболее популярные
          места.
        p.
          С нашей адресной программой Вы можете ознакомиться здесь. Также мы
          оказываем сопутствующие услуги:
        ul
          li разработка оригинал-макетов.
          li печать баннером и постеров.
      .desc Для рекламных агентств предусмотрены гибкие условия сотрудничества.
      .header-small Контакты
      .contacts-block.
        Мы находимся по адресу:<br>
        <strong>г. Ростов-на-дону, ул. нансена, 239,</strong><br>
        телефон: <strong>(863) 244-25-25</strong>
      .small-map
    .bottom