extends layout

block vars
 - var bodyClass = "web";

block btn
  a.btn.send(href="request-form.html") Заказать сайт
  
block title
  img.ico(src="/images/ico-computer.png")
  h1 Разработка веб-сайтов

block header
  include includes/header.jade

block content
  .decals
  .teaser.
    Мы занимаемся проектированием, разработкой, поддержкой и сопровождением
    веб-сайтов и мобильных приложений. Создадим полноценный инструмент, который
    поможет вашему бизнесу активно развиваться.
  .content-wrapper
    h2 Сайты
    .text
      p.
        Сайт — один из ключевых каналов общения с потребителем. Важно при его
        создании учесть потребности целевой аудитории и специфику вашего
        бизнеса. Технические составляющие должны быть идеально отлажены.
      a.btn(href="") Заказать разработку сайта
    .photos
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      .clrfx
    h2 Мобильные приложения
    .text
      p.
        Мобильное приложение — популярный инструмент взаимодействия с целевой
        аудиторией. Он упрощает для потребителя доступ к информации о вашем продукте.
        a.btn(href="") Заказать разработку сайта
    .photos
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      a.unit(href="http://dummyimage.com/700x500/", title="«Инвеструм» банк")
        .info-wrapper
          .support
          .info «Инвеструм» банк
        img(src="http://dummyimage.com/216x216/")
      .clrfx