footer
  .left
    .company &copy; 2015 Рекламное агентство «Трибуна»
    a.mail(href="mailto:info@3buna.ru") info@3buna.ru
  .right
    ul.footer-menu
      li
        a(href="billboards.html") Размещение на щитах
      li
        a(href="") Изготовление наружно рекламы
      li
        a(href="") Интернет-маркетинг
      li
        a(href="") Разработка сайтов
      li
        a(href="") О компании
      li
        a(href="") Контакты
  .clrfx