.holder
  ul.main-menu
    li
      a.active(href="billboards.html") Размещение на щитах
    li
      a.active(href="") Изготовление наружно рекламы
    li
      a.active(href="") Интернет-маркетинг
    li
      a.active(href="") Разработка сайтов
    li
      a.active(href="") О компании
    li
      a.active(href="") Контакты