.holder
  ul.main-menu
    li
      a(href="billboards.html") Размещение на щитах
    li
      a(href="") Изготовление наружно рекламы
    li
      a(href="") Интернет-маркетинг
    li
      a(href="") Разработка сайтов
    li
      a(href="") О компании
    li
      a(href="") Контакты